<footer class="footer_magnum">
  <p>
    <a href='http://www.pogoapp.com/'>home</a>
    &nbsp;|&nbsp;
    <a href='http://www.pogoapp.com/web/pricing'>pricing</a>
    &nbsp;|&nbsp;
    <a href='https://hub.pogoapp.com'>browse apps</a>
     &nbsp;|&nbsp;
    <a href='http://www.pogoapp.com//web/showcase'>showcase</a>
    &nbsp;|&nbsp;
    <a href="https://hub.pogoapp.com/users/sign_up">sign up</a>
  </p>
  <div class="footertext_magnum">
    All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.
  </div>
  <div class="footertext_magnum">
    Theme by <a href="http://ghostlook.com" target="_blank">GhostLook</a>
  </div>
</footer>
